{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Acerca de la empresa</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="welcome-about">
        <div>
            <p class="bienvenida">Bienvenido</p>
        </div>
        <div class="navigation">
            <a href="{% url 'index' %}">Inicio</a>
            <a href="{% url 'blog' %}">Blog</a>
            <a href="{% url 'about' %}">Acerca de la empresa</a>
            <a href="{% url 'contact' %}">Contacto</a>
            <a href="{% url 'logout' %}">Cerrar Sesion</a>
        </div>
    </div>
    <div class="empresa-info">
        <div class="mission-container">
            <p class="bienvenida"> Acerca de la empresa</p>
            <p>Super Selectos: Ofrece adapataciones razonables para garantizar que los empleados con discapacidad
                pueda desempeñar sus funciones de manera efectiva
            </p>
            <p>Siman: Proporcionan capacitacion y programas de sensibilizacion para educar a sus empleados
                sobre la inclusion, la diversidad y la importancia de tratar a todas las personas con
                respeto y equidad
            </p>
            <p>Texaco: Ofrece programas de desarrollo profesional y capacitacion para permitir el crecimiento
                y avance de todos sus empleados, incluyendo a aquellos co discapacida
            </p>
            <p>Diparvel: Fomenta un ambiente de trabajo inclusivo y respetuoso, donde se valoren las constribuciones
                individuales y se promueva la diversidad en todos los niveles de la organizacion
            </p>
            <img class="img-about" src="{% static 'img/grupo.jpg' %}" alt="Imagen">
        </div>
        <!-- Resto del contenido -->
        <div class="mission-container">
                <h2>Servicio y Testimonio</h2>
            <div class="mission-container">
                
                <div class="grid-container">
                    <div class="services">
                        <h2>Servicios</h2>
                        <div class="service-item">
                            <h3>Servicio 1</h3>
                            <p>Super Selectos: Carritos de compras adaptados, atencion personalizada
                                servicios a domicilio, capacitaciones y charlas.
                            </p>
                        </div>
                        <div class="service-item">
                            <h3>Servicio 2</h3>
                            <p>Siman: Accesibilidad fisica, asistencia en tienda y servicio al cliente</p>
                        </div>
                        <div class="service-item">
                            <h3>Servicio 3</h3>
                            <p>Texaco: Accesibilidad fisica, servicio de atencion al cliente,
                                servicios de autoatención
                            </p>
                        </div>
                        <div class="service-item">
                            <h3>Servicio 4</h3>
                            <p>Diparvel: Servicio de entrega a domicilio, atencion al cliente y asistencia
                                personalizada
                            </p>
                        </div>
                    </div>
                    <div class="testimonials">
                        <h2>Testimonios</h2>
                        <div class="testimonial-item">
                            <p>- Testimonio 1</p>
                            <p>"Claudia Martinez: Reconocida cajera de 
                                la empresa de Super Selectos. A pesar de ser ciega desde los 20 años, ha 
                                logrado destacarse en su campo y a brindado capacitacion a nuevos empleados 
                            "</p>
                            
                        </div>
                        <div class="testimonial-item">
                            <p>- Testimonio 2</p>
                            <p>"Héctor Valle: Es un empleado de Siman que trabaja en
                                el area de atencion al cliente. A pesar de enfrentarse a muchas dificultades
                                a logrado adaptarse a su entorno de trabajo con el apoyo de la empresa que le
                                proporciono las adaptaciones necesarias."</p>
                        </div>
                        <div class="testimonial-item">
                            <p>- Testimonio 3</p>
                            <p>"Fernando Rivas: Fue un reconocido empleado en Metrocentro que
                                padecía discapacidad motriz. Aunque a enfrentado desafios debido a su discapacidad
                                en Metrocentro ha encontrado un ambiente de trabajo inclusivo y comprensivo, y a 
                                logrado destacar en su area."</p>
                            
                        </div>
                        <div class="testimonial-item">
                            <p>- Testimonio 4</p>
                            <p>"Raul Huezo: Es un reconocido empleado de Texaco con discapacidad 
                                visual que trabaja en el area de administrativa como asistente, a pesar de su discapacidad 
                                se enfoco en desarrollar habilidades auditivas, tactiles y tecnologicas para poder cumplir
                                con su trabajo."</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            
    </div>
</body>
</html>
{% endblock %}