{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<title>Blog</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<body>
<head>
    <div class="welcome-blog">
        <div>
            <p class="bienvenida">Bienvenido</p>
        </div>
        <div class="navigation">
            <a href="{% url 'index' %}">Inicio</a>
            <a href="{% url 'blog' %}">Blog</a>
            <a href="{% url 'about' %}">Acerca de la empresa</a>
            <a href="{% url 'contact' %}">Contacto</a>
        </div>
    </div>
    <div class="blog-info">
        <div class="consejos-container">
            <p class="bienvenida">Articulos de consejos</p>
            <p>Informacion acerca Articulos de consejos.</p>
            <img class="img-inicio" src="{% static 'img/laboral.jpg' %}" alt="Imagen">
        </div>
        <div class="mission-container">
            <div>
            <p class="bienvenida">Historia</p>
            <p>Informacion acerca  de la Historia.</p>
            <img class="img-inicio" src="{% static 'img/laboral.jpg' %}" alt="Imagen">
            </div>
            <div>
                <p class="bienvenida">Leyes y Politicas</p>
                <p>Informacion acerca  de las leyes y politicas.</p>
                <img class="img-inicio" src="{% static 'img/laboral.jpg' %}" alt="Imagen">
            </div>
        </div>
        <!-- Resto del contenido -->
        <div class="data-container">
            <table>
                <h2>Poblacion de discapacitados en empresas</h2>
                <!-- Contenido de la tabla -->
            </table>
            <div class="bar-chart"></div>
            <div class="pie-chart"></div>
        </div>
    </div>
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
</body>
</html>
{% endblock %}