{% extends "./index.html" %}

{% block title %} Gestión de Cursos {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edición de Mision</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarCurso/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtId" name="txtId" value="{{curso.id}}" class="form-control" placeholder="Id"
                            minlength="6" maxlength="6" readonly required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtMision" name="txtMision" value="{{curso.nombre_mision}}" class="form-control" placeholder="Mision"
                            maxlength="150" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtTipo" name="txtTipo" value="{{curso.tipo_mision}}" class="form-control" min="1" max="9"
                        maxlength="150" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtEmpresa" name="txtEmpresa" value="{{curso.empresa}}" class="form-control" min="1" max="9"
                        maxlength="150" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtFecha" name="txtFecha" value="{{curso.fecha}}" class="form-control" min="1" max="9"
                        maxlength="150" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}