{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/gestionCursos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="welcome-navegation">
    <div>
        <p class="bienvenida">Bienvenido</p>
    </div>
    <div class="navigation">
        <a href="{% url 'index' %}">Inicio</a>
        <a href="{% url 'blog' %}">Blog</a>
        <a href="{% url 'about' %}">Acerca de la empresa</a>
        <a href="{% url 'contact' %}">Contacto</a>
        <a href="{% url 'logout' %}">Cerrar Sesion</a>
    </div>      
</div>
<div class="empresa-info">
    <div class="mission-container">
        <img class="img-inicio" src="{% static 'img/intercion.jpg' %}" alt="Imagen">
        <div>
            <head>
                <title>MISION</title>
                <style>
                    .cuadro{
                        width: 320px;
                        height: 600px;
                        border: 1px solid #000;
                        padding: 10px;
                        background-color:beige;
                        margin: 0 auto;
                    }
                    .titulo{
                        font-weight: bold;
                        font-size: 18px;
                        text-align: center;
                        margin-bottom: 10px;
                        color: black;
                    }
                    .contenido{
                        color: black;
                    }
                </style>
            </head>
            <body>
                <div class="cuadro">
                    <h2 class="titulo">Mision</h2>
                    <p class="contenido">1. Mision siman: promover un entorno inclusivo
                        donde todos los empleados sean tratados con respeto y equidad independientement
                        de su discapacidad.
                    </p>
                    <p class="contenido">2. Metrocentro: promover la igualdad en las contrataciones de 
                        empledos, adaptando los entornos de trabajo para asegurarse que
                        sean accesibles y adecuados para todos los empleados independientemente
                        de su discapacidad.
                    </p>
                    <p class="contenido">3. Diparvel: promover la inclusion proporcionando
                        ajustes razonables para la participacion de las personas con discapacidad
                        ofreciendoles capacitaciones.
                    </p>
                    <p class="contenido">4. Texaco: nuestra mision es fomentar la inclusion y
                        promover la igualdad de oportunidades en el ambito laboral, brindando
                        apoyo y oportunidades a las personas con discapacidad.
                    </p>
                </div>
            </body>
        </div>
    </div>
    <!-- Resto del contenido -->
    <div class="mission-container">
        <div>
            
            <div class="container py-4">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-dismissible alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong class="text-dark">{{ message }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <h2>Gestión de Estadísticas</h2>
                        <div class="card">
                            <div class="card-body">
                                <form action="/registrar_estadistica/" method="POST">{% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" id="txtID" name="txtID" class="form-control"
                                            placeholder="ID" maxlength="20" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="txtNombre" name="txtNombre" class="form-control"
                                            placeholder="Nombre" maxlength="100" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="txtApellido" name="txtApellido" class="form-control"
                                            placeholder="Apellido" maxlength="100" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" id="txtEdad" name="txtEdad" class="form-control" min="1" max="150"
                                            placeholder="Edad" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="txtGenero" name="txtGenero" class="form-control"
                                            placeholder="Género" maxlength="50" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="txtTipoDiscapacidad" name="txtTipoDiscapacidad" class="form-control"
                                            placeholder="Tipo de Discapacidad" maxlength="100" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="txtSector" name="txtSector" class="form-control" placeholder="Sector"
                                            maxlength="100" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="txtActividadEconomica" name="txtActividadEconomica" class="form-control"
                                            placeholder="Actividad Económica" maxlength="100" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="txtCategoriaOcupacion" name="txtCategoriaOcupacion" class="form-control"
                                            placeholder="Categoría de Ocupación" maxlength="100" required>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
                        <h1>Listado de Estadísticas</h1>
                        <div class="table-responsive py-2">
                            <table class="table table-striped">
                                <thead>
                                    <tr>

                                        <th>Id</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Edad</th>
                                        <th>Género</th>
                                        <th>Tipo de Discapacidad</th>
                                        <th>Sector</th>
                                        <th>Actividad Económica</th>
                                        <th>Categoría de Ocupación</th>
                                        <th colspan="2">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for estadistica in estadisticas %}
                                    <tr>
                                        <td>1</td>
                                        <td>Gabriel</td>
                                        <td>Rodríguez</td>
                                        <td>20</td>
                                        <td>Masculino</td>
                                        <td>Visual</td>
                                        <td>Agricultura</td>
                                        <td>Información y comunicaciones</td>
                                        <td>Control de calidad</td>
                                        <td><a href="/edicion_estadistica/{{ estadistica.id }}" class="btn btn-info">Editar</a></td>
                                        <td><a href="/eliminar_estadistica/{{ estadistica.id }}" class="btn btn-danger btnEliminacion">Eliminar</a>
                                        </td>

                                        <td>2</td>
                                        <td>Sofía</td>
                                        <td>García</td>
                                            <td>25</td>
                                            <td>Femenino</td>
                                            <td>Habla y del lenguaje</td>
                                            <td>Industria</td>
                                            <td>Industria manufacturera</td>
                                            <td>Operadora de máquina</td>
                                        <td><a href="/edicion_estadistica/{{ estadistica.id }}" class="btn btn-info">Editar</a></td>
                                        <td><a href="/eliminar_estadistica/{{ estadistica.id }}" class="btn btn-danger btnEliminacion">Eliminar</a>
                                        </td>

                                        <td>3</td>
                                        <td>Mateo</td>
                                        <td>Martínez</td>
                                        <td>18</td>
                                        <td>Masculino</td>
                                        <td>psicosocial</td>
                                        <td>Industria</td>
                                        <td>Construcción</td>
                                        <td>Ingeniero civil</td>
                                        <td><a href="/edicion_estadistica/{{ estadistica.id }}" class="btn btn-info">Editar</a></td>
                                        <td><a href="/eliminar_estadistica/{{ estadistica.id }}" class="btn btn-danger btnEliminacion">Eliminar</a>
                                        </td>

                                        <td>4</td>
                                        <td>Valentina</td>
                                        <td>Gonzáles</td>
                                        <td>23</td>
                                        <td>Femenino</td>
                                        <td>Física</td>
                                        <td>Comercio</td>
                                        <td>Enseñanza</td>
                                        <td>Profesora de Economía</td>
                                        <td><a href="/edicion_estadistica/{{ estadistica.id }}" class="btn btn-info">Editar</a></td>
                                        <td><a href="/eliminar_estadistica/{{ estadistica.id }}" class="btn btn-danger btnEliminacion">Eliminar</a>
                                        </td>

                                        <td>5</td>
                                        <td>Sebastían</td>
                                        <td>Hernández</td>
                                        <td>30</td>
                                        <td>Masculino</td>
                                        <td>Invisible</td>
                                        <td>Servicios</td>
                                        <td>Información y comunicaciones</td>
                                        <td>Tele-operador</td>
                                        <td><a href="/edicion_estadistica/{{ estadistica.id }}" class="btn btn-info">Editar</a></td>
                                        <td><a href="/eliminar_estadistica/{{ estadistica.id }}" class="btn btn-danger btnEliminacion">Eliminar</a>
                                        </td>

                                        <td>6</td>
                                        <td>Isabella</td>
                                        <td>Lopéz</td>
                                        <td>40</td>
                                        <td>Femenino</td>
                                        <td>Del Desarrollo</td>
                                        <td>Comercio</td>
                                        <td>Comercio al por mayor y al por menor y reparación de vehículos automotores</td>
                                        <td>Vendedor</td>
                                        <td><a href="/edicion_estadistica/{{ estadistica.id }}" class="btn btn-info">Editar</a></td>
                                        <td><a href="/eliminar_estadistica/{{ estadistica.id }}" class="btn btn-danger btnEliminacion">Eliminar</a>
                                        </td>

                                        <td>7</td>
                                        <td>Diego</td>
                                        <td>Peréz</td>
                                        <td>19</td>
                                        <td>Masculino</td>
                                        <td>Intelectual</td>
                                        <td>Industria</td>
                                        <td>Transporte y almacenamiento</td>
                                        <td>Conductor</td>
                                        <td><a href="/edicion_estadistica/{{ estadistica.id }}" class="btn btn-info">Editar</a></td>
                                        <td><a href="/eliminar_estadistica/{{ estadistica.id }}" class="btn btn-danger btnEliminacion">Eliminar</a>
                                        </td>

                                        <td>8</td>
                                        <td>Camila</td>
                                        <td>Sanchéz</td>
                                        <td>24</td>
                                        <td>Femenino</td>
                                        <td>Visual</td>
                                        <td>Agricultura</td>
                                        <td>Administración pública</td>
                                        <td>Administradora</td>
                                        <td><a href="/edicion_estadistica/{{ estadistica.id }}" class="btn btn-info">Editar</a></td>
                                        <td><a href="/eliminar_estadistica/{{ estadistica.id }}" class="btn btn-danger btnEliminacion">Eliminar</a>
                                        </td>

                                        <td>9</td>
                                        <td>Alejandro</td>
                                        <td>Ramiréz</td>
                                        <td>20</td>
                                        <td>Masculino</td>
                                        <td>Física</td>
                                        <td>Agricultura</td>
                                        <td>Alojamiento y servicio de comida</td>
                                        <td>Cocinero</td>
                                        <td><a href="/edicion_estadistica/{{ estadistica.id }}" class="btn btn-info">Editar</a></td>
                                        <td><a href="/eliminar_estadistica/{{ estadistica.id }}" class="btn btn-danger btnEliminacion">Eliminar</a>
                                        </td>

                                        <td>10</td>
                                        <td>Juan</td>
                                        <td>García</td>
                                        <td>35</td>
                                        <td>Masculino</td>
                                        <td>Psicosocial</td>
                                        <td>Industria</td>
                                        <td>Construcción</td>
                                        <td>Albañil</td>
                                        <td><a href="/edicion_estadistica/{{ estadistica.id }}" class="btn btn-info">Editar</a></td>
                                        <td><a href="/eliminar_estadistica/{{ estadistica.id }}" class="btn btn-danger btnEliminacion">Eliminar</a>
                                        </td>

                                        <td>11</td>
                                        <td>Carlos</td>
                                        <td>Martinéz</td>
                                        <td>20</td>
                                        <td>Masculino</td>
                                        <td>Visual</td>
                                        <td>Comercio</td>
                                        <td>Actividades inmobiliarias</td>
                                        <td>Agente inmobiliario</td>
                                        <td><a href="/edicion_estadistica/{{ estadistica.id }}" class="btn btn-info">Editar</a></td>
                                        <td><a href="/eliminar_estadistica/{{ estadistica.id }}" class="btn btn-danger btnEliminacion">Eliminar</a>
                                        </td>

                                        <td>12</td>
                                        <td>Andrés Lopéz</td>
                                        <td>Lopéz</td>
                                        <td>29</td>
                                        <td>Masculino</td>
                                        <td>Física</td>
                                        <td>Agricultura</td>
                                        <td>Servicios administrativos y apoyo</td>
                                        <td>Asistente</td>
                                        <td><a href="/edicion_estadistica/{{ estadistica.id }}" class="btn btn-info">Editar</a></td>
                                        <td><a href="/eliminar_estadistica/{{ estadistica.id }}" class="btn btn-danger btnEliminacion">Eliminar</a>
                                        </td>

                                        <td>13</td>
                                        <td>Gabriel</td>
                                        <td>Ortega</td>
                                        <td>24</td>
                                        <td>Masculino</td>
                                        <td>Intelectual</td>
                                        <td>Agricultura</td>
                                        <td>Otras actividades de servicio</td>
                                        <td>Agricultor</td>
                                        <td><a href="/edicion_estadistica/{{ estadistica.id }}" class="btn btn-info">Editar</a></td>
                                        <td><a href="/eliminar_estadistica/{{ estadistica.id }}" class="btn btn-danger btnEliminacion">Eliminar</a>
                                        </td>

                                        <td>14</td>
                                        <td>David</td>
                                        <td>Ríos</td>
                                        <td>23</td>
                                        <td>Masculino</td>
                                        <td>Visual</td>
                                        <td>Industria</td>
                                        <td>Atención a la salud humana</td>
                                        <td>Ayudante de enfermería</td>
                                        <td><a href="/edicion_estadistica/{{ estadistica.id }}" class="btn btn-info">Editar</a></td>
                                        <td><a href="/eliminar_estadistica/{{ estadistica.id }}" class="btn btn-danger btnEliminacion">Eliminar</a>
                                        </td>

                                        <td>15</td>
                                        <td>Francisco</td>
                                        <td>Torres</td>
                                        <td>24</td>
                                        <td>Masculino</td>
                                        <td>Intelectual</td>
                                        <td>Industria</td>
                                        <td>Industria manufacturera</td>
                                        <td>Operador de montaje</td>
                                        <td><a href="/edicion_estadistica/{{ estadistica.id }}" class="btn btn-info">Editar</a></td>
                                        <td><a href="/eliminar_estadistica/{{ estadistica.id }}" class="btn btn-danger btnEliminacion">Eliminar</a>
                                        </td>                                    


                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>            
        </div>    
      <div>
       
        <script>
            const tableEstadisticas = document.getElementById('estadisticas')
            const nivelEstadisticasRows = [...tableEstadisticas.querySelectorAll('.nivel-estadistica')]
            const coloresDeNiveles = {
                amarilla: 'text-warning',
                roja: 'text-danger',
                verde: 'text-success',
            }
            nivelEstadisticasRows.forEach((estadistica) => {
                const nivelDeEstadistica = estadistica.dataset.nivel
                estadistica.classList.add(coloresDeNiveles[nivelDeEstadistica])
            })

            const ctxPieEstadisticas = document.getElementById('chartPieEstadisticas')
            const ctxBarEstadisticas = document.getElementById('chartBarEstadisticas')

            const dataPieEstadisticas = [
                tableEstadisticas.querySelectorAll('.text-danger').length,
                tableEstadisticas.querySelectorAll('.text-success').length,
                tableEstadisticas.querySelectorAll('.text-warning').length,
            ]

            const dataBarRamaEconomica = {
                'Industria manufacturera': 0,
                'Electricidad, gas, vapor y aire acondicionado': 0,
                'Construcción': 0,
                'Comercio al por mayor y al por menor y reparación de vehículos automotores': 0,
                'Transporte y almacenamiento': 0,
                'Alojamiento y servicios de alimento': 0,
                'Información y comunicaciones': 0,
                'Actividades financieras y seguros': 0,
                'Actividades inmobiliarias ': 0,
                'Act. Profesionles, científicas y técnicas': 0,
                'Servicios administrativos y de apoyo': 0,
                'Administración pública': 0,
                'Enseñanza': 0,
                'Atención a la salud humnana': 0,
                'Actividades artísticas, entretenimiento y recreativas': 0,
                'Otras actividadedes de servicios': 0,
            }

            new Chart(ctxPieEstadisticas, {

                type: 'pie',
                data: {
                    labels: ['Dicapacidad física', 'Dicapacidad visual', 'Dicapacidad auditiva', 'Discapacidad del habla y del lenguaje', 'Dicapacidad intelectual', 'Dicapacidad del desarrollo', 'Dicapacidad psicosocial', 'Dicapacidad invisible'],
                    datasets: [{
                        label: 'Cantidad de Personas Discapacitadas',
                        data: dataPieEstadisticas,
                        backgroundColor: [
                            'rgba(255, 99, 132)',
                            'rgba(75, 192, 192)',
                            'rgba(255, 206, 86)',
                        ],                        
                    }]
                }
            })

            new Chart(ctxBarEstadisticas, {
                type: 'bar',
                data: {
                    labels: Object.keys(dataBarRamaEconomica),
                    datasets: [{
                        label: 'Rama Económica',
                        data: dataBarRamaEconomica,
                        backgroundColor: [
                            'rgb(41, 52, 98)',
                            'rgb(28, 214, 206)',
                            'rgb(254, 219, 57)',
                            'rgb(214, 28, 78)',
                            'rgb(49, 225, 247)',
                            'rgb(216, 0, 166)',
                            'rgb(255, 119, 119)',
                            'rgb(4, 0, 154)',
                            'rgb(240, 235, 204)',
                            'rgb(227, 199, 112)',
                            'rgb(177, 175, 255)',
                            'rgb(200, 255, 212)',
                            'rgb(159, 135, 114)',
                            'rgb(204, 54, 54)',
                        ],                        
                    }]
                },
            })

            const buttonsForDownloadChartAsPdf = [...document.querySelectorAll('.download--pdf--chart')]
            buttonsForDownloadChartAsPdf.forEach((button) => {
                button.addEventListener('click', () => {
                    const target = button.dataset.target
                    const chartCanvas = document.getElementById(target)
                    const canvasImage = chartCanvas.toDataURL('image/png', 1.0)
                    let pdf = new jspdf.jsPDF('landscape')
                    pdf.text(chartCanvas.previousElementSibling.textContent, 15, 15)
                    pdf.addImage(canvasImage, 'PNG', 50, 30, 150, 150)

                    pdf.save('chart.pdf')
                })
            })

            const buttonsForDownloadChartAsXLS = [...document.querySelectorAll('.download--excel--chart')]
            buttonsForDownloadChartAsXLS.forEach((button) => {
                button.addEventListener('click', () => {
                    const target = button.dataset.target
                    const chartCanvas = document.getElementById(target)
                    const canvasImage = chartCanvas.toDataURL('image/png', 1.0)
                    
                    console.log(canvasImage)

                    let workbook = new ExcelJS.Workbook()
                    const sheet = workbook.addWorksheet('Grafico')
                    var imageID = workbook.addImage({
                        base64: canvasImage,
                        extension: 'png',
                    })
                    console.log("imageID", imageID)
                    sheet.addImage(imageID, 'B2:M28')

                    workbook.xlsx.writeBuffer().then((data) => {
                        const blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8'});
                        saveAs(blob, 'chart.xlsx');
                    });                    
                })
            })
        </script>
        <!-- Resto del contenido de graficas-->
      </div>
    </div>        
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/gestionCursos.js' %}"></script>
</body>
</html>
{% endblock %}