{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>My App - Iniciar sesion</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>


<body>
  <form action="">
  <div class="container">
    <h1 classs="title">Iniciar sesion</h1>
    {% if error_message %}
    <p class="error-message">{{ error_message }}</p>
    {% endif %}
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}

      <label for="username">Usuario:</label>
      <input type="text" name="username" required
      id="username">

      <label for="password">Contrasenia:</label>
      <input type="password" name="password" required
      id="password">
      <input type="submit" value="Login">
      
      <button id="button">Login</button>

    </form>
    <div class="link">
      No tiene una cuenta? <a href="{% url 'register' %}">Registrase</a>
    </div>
  </div>
</body>
</html>
{% endblock %}
